# AMACOR DEPOSITOS PLAZO FIJO

### DEFINICIÓN PROYECTOS

-Realizar un análisis exploratorio detallado sobre los diferentes tipos de 
clientes presentes en el conjunto de datos. 


-Desarrollar un modelo predictivo para identificar qué clientes tienen más 
probabilidad de contratar un depósito a plazo fijo. 


-Explicar los resultados obtenidos y proporcionar recomendaciones para 
mejorar la eficacia de futuras campañas.

### Importamos librerias

In [125]:
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
#original es la base de datos SIN tocar
original = pd.read_csv('Sesión #80_ML_Caso Práctico_3_Data_Train.csv',sep= ";")
#Vamos a trabajar con df
df = original.copy()

### Exploración de la base de datos

In [117]:
#Miramos cuantas personas sin contacto tiene mas de x dinero (en este caso 1000)
df_sin_contacto =df[df['tipo_contacto'].isnull()]
saldo = 1000
num =df_sin_contacto[df_sin_contacto['saldo'] >= saldo]
df_sin_contacto_prct= (num.shape[0]/ (df_sin_contacto.shape[0])) * 100
print(f"Tenemos un {(df_sin_contacto_prct)}% de clientes con mas de {saldo}€ ")

Tenemos un 29.418695993715634% de clientes con mas de 1000€

In [140]:
personas_con_mas_de = (df[df['saldo']>25000])
personas_con_mas_de['deuda'].value_counts()
df_vivienda_si =df[df['vivienda'] == 'si']
num_persona_con_vivienda =df[df['vivienda'] == 'si'].shape[0]

In [128]:
print(f"Hay un total de {((num_persona_con_vivienda) / df.shape[0])*100}% de clientes con vivienda")
total_personas=df['vivienda'].value_counts().sum()

Hay un total de 55.6015003615329% de clientes con vivienda

In [160]:
df_vivienda_propia_con_deuda = df_vivienda_si[df_vivienda_si['deuda'] == 'si']
df_vivienda_propia_con_deuda[df_vivienda_propia_con_deuda['edad']==71]

,ID,edad,trabajo,estado_civil,educacion,deuda,saldo,vivienda,prestamo,tipo_contacto,duracion,fecha_contacto,campaign,tiempo_transcurrido,contactos_anteriores,resultado_campanas_anteriores,target
5347,5348,71,retired,divorciado,universitarios,si,1236,si,no,movil,335,14-sep-2021,4,-1,0,NaN,si

In [169]:
df_vivienda_si_no_deuda=df_vivienda_si[df_vivienda_si[['deuda','prestamo']] == 'no']

In [177]:
df_vivienda_si

,ID,edad,trabajo,estado_civil,educacion,deuda,saldo,vivienda,prestamo,tipo_contacto,duracion,fecha_contacto,campaign,tiempo_transcurrido,contactos_anteriores,resultado_campanas_anteriores,target
0,1,40,blue-collar,casado,secundaria/superiores,no,580,si,no,NaN,192,16-may-2021,1,-1,0,NaN,no
2,3,25,student,soltero,universitarios,no,538,si,no,movil,226,20-apr-2021,1,-1,0,NaN,no
8,9,30,blue-collar,soltero,secundaria/superiores,no,3,si,no,movil,51,25-jul-2021,1,-1,0,NaN,no
11,12,48,blue-collar,divorciado,secundaria/superiores,no,65,si,no,movil,146,14-may-2021,1,370,1,sin_exito,no
13,14,31,management,divorciado,universitarios,no,883,si,no,movil,112,5-mar-2021,2,106,1,sin_exito,si
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44248,44249,30,blue-collar,casado,priamaria,no,597,si,no,NaN,190,23-may-2021,1,-1,0,NaN,no
44251,44252,38,management,casado,secundaria/superiores,no,-323,si,no,NaN,250,9-jun-2021,1,-1,0,NaN,no
44252,44253,49,technician,casado,secundaria/superiores,no,1982,si,si,movil,73,22-aug-2021,15,-1,0,NaN,no
44253,44254,51,blue-collar,casado,secundaria/superiores,no,794,si,no,fijo,747,24-jul-2021,1,-1,0,NaN,no
44255,44256,32,technician,soltero,secundaria/superiores,no,321,si,no,movil,156,11-aug-2021,2,-1,0,NaN,no

In [179]:
personas_sin_deuda_y_con_vivienda_sin_prestamo = df[(df['deuda'] == 'no') & (df['vivienda'] == 'si') & (df['prestamo'] == 'no')]

# Contar el número de personas que cumplen con las condiciones
num_personas = len(personas_sin_deuda_y_con_vivienda_sin_prestamo)

# Mostrar la cantidad de personas en un DataFrame
dataframe_personas = personas_sin_deuda_y_con_vivienda_sin_prestamo.reset_index(drop=True)  # Reiniciar el índice
print("Cantidad de personas: ", num_personas)
print("\nDataFrame con las personas:")
dataframe_personas

Cantidad de personas:  20033

DataFrame con las personas:

,ID,edad,trabajo,estado_civil,educacion,deuda,saldo,vivienda,prestamo,tipo_contacto,duracion,fecha_contacto,campaign,tiempo_transcurrido,contactos_anteriores,resultado_campanas_anteriores,target
0,1,40,blue-collar,casado,secundaria/superiores,no,580,si,no,NaN,192,16-may-2021,1,-1,0,NaN,no
1,3,25,student,soltero,universitarios,no,538,si,no,movil,226,20-apr-2021,1,-1,0,NaN,no
2,9,30,blue-collar,soltero,secundaria/superiores,no,3,si,no,movil,51,25-jul-2021,1,-1,0,NaN,no
3,12,48,blue-collar,divorciado,secundaria/superiores,no,65,si,no,movil,146,14-may-2021,1,370,1,sin_exito,no
4,14,31,management,divorciado,universitarios,no,883,si,no,movil,112,5-mar-2021,2,106,1,sin_exito,si
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20028,44247,29,services,soltero,secundaria/superiores,no,498,si,no,NaN,177,3-jun-2021,26,-1,0,NaN,no
20029,44249,30,blue-collar,casado,priamaria,no,597,si,no,NaN,190,23-may-2021,1,-1,0,NaN,no
20030,44252,38,management,casado,secundaria/superiores,no,-323,si,no,NaN,250,9-jun-2021,1,-1,0,NaN,no
20031,44254,51,blue-collar,casado,secundaria/superiores,no,794,si,no,fijo,747,24-jul-2021,1,-1,0,NaN,no
20032,44256,32,technician,soltero,secundaria/superiores,no,321,si,no,movil,156,11-aug-2021,2,-1,0,NaN,no

In [186]:
personas_sin_deuda_y_con_vivienda_sin_prestamo.shape[0]

20033

In [187]:
personas_sin_deuda_y_con_vivienda_sin_prestamo_sin_telefono=personas_sin_deuda_y_con_vivienda_sin_prestamo['tipo_contacto'].isnull().sum()
(personas_sin_deuda_y_con_vivienda_sin_prestamo_sin_telefono / personas_sin_deuda_y_con_vivienda_sin_prestamo.shape[0])* 100

37.51310337942395